:root {
    --body-bg-color: #EDF2F9;
    --primary-color: #2C7BE5;
    --secondary-color: #5E6E82;
    --secondary-subtle-color: #9DA9BB;
    --form-storke-color: #D8E2EF;

    --font-size-1: 14px;
    --font-weight: 500;
    --padding: 10px;
}

body {
    background-color: var(--body-bg-color);
    /* font-size: var(--font-size); */
}
/*------------ Top Navbar --------------*/
.navbar-brand img {
    max-width: 50px;
    height: auto;
    display: block;
}
.nav-logo {
    max-width: 30px;
    height: 30px;
    display: block;
}
.profile-img {
    max-width: 30px;
    height: auto;
    display: block;
}

/*------------ Side Navbar --------------*/
.sidebar-heading-label {
    font-size: 14px;
    color: var(--secondary-subtle-color);
    font-weight: 600;
}
.sidebar-links a {
    color: var(--secondary-color);
    font-size: 14px; 
    font-weight: 500;
}