:root {

    /*---- COLOR SCHEME ------*/
    --navbar-bg-color: #EBA23B; /* Use for Navbar background */
    --primary-color: #FF6F0F; /* Use for CTA buttons*/
    --secondary-color: #C5D1DA; /* for form backgrounds etc*/
    --accent-color: #5F727F; /* Used for Icons colors */
    --title-text-color: #68A6BF; /* Used for titles etc */
    --body-text-color: #333333; /* Used for body text */

    /*========= TYPOGRAPHY =========*/
    --font-family: "Montserrat", sans-serif; 

}

body {
    font-family: var(--font-family);
}